__pycache__/

models/

playground/readers/mnist_image_dataset/data/*
playground/readers/mnist_mixed_dataset/data/*
playground/readers/fashion_mnist_mixed_dataset/data/*
playground/readers/fashion_mnist_image_dataset/data/*
playground/readers/celeba_no_background_large_mixed_dataset/data/*

results_gen/
results_gen_text/
results_rec/

experiments/*/readers/
metrics/
images/

.DS_Store