__pycache__/

models/

playground/readers/MNISTImageDataset/data/*
playground/readers/MNISTMixedDataset/data/*
playground/readers/FashionMNISTImageDataset/data/*
playground/readers/FashionMNISTMixedDataset/data/*

results_gen/
results_gen_text/
results_rec/

experiments/*/readers/
metrics/
images/

.DS_Store